# gensim stuff #
#########
*.dict
*.lda
*.id2word
*.state
*.npy
bigrams
trigrams
id2word
vocab

# vscode stuff #
########
.vscode/

# otros #
*.csv
*.html
*.jsonl

# mkdocs #
site/

# Directorios para output en pruebas #
pruebas/
